{% extends "base.html" %}
{% block navLinks %}
  <li class="nav-item">
    <a href="{{ url_for('category.allCategories') }}" class="nav-link">back</a>
  </li>
{% endblock %}
{% block mainContent %}
<div class="row justify-content-center">
  <div class="col-lg-4">
    <h5 class="text-muted text-center mb-3" >
      {% for message in form.errors %}
        {{ message }}
      {% endfor %}
    </h5>
    <div class="card mb-4">
      <form class="card-body card-body-form" enctype=multipart/form-data method="POST">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
          {{ form.email(class_="form-control") }}
          <div class="input-group-append">
            <span class="input-group-text">
              email
            </span>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password(class_="form-control") }}
          <div class="input-group-append">
            <span class="input-group-text">
              Password
            </span>
          </div>
        </div>
        <input
          class="btn btn-primary btn-lg btn-block"
          type="submit"
          value="LOGIN">
      </form>
    </div>
    <a class="btn btn-outline-secondary btn-cancel btn-lg d-block mb-5" href={{ url_for('category.allCategories') }}>
      CANCEL
    </a>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
