{% extends "base.html" %}
{% block navLinks %}
  <li class="nav-item">
    <a href="{{ url_for('category.allCategories') }}" class="nav-link">back</a>
  </li>
{% endblock %}
{% block mainContent %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <h5 class="text-muted text-center mb-3" >login</h5>
    <div class="card mb-4">
      <form class="card-body card-body-form" action={{ }} enctype=multipart/form-data method="POST">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="name" value="{{
          item.name }}">
          <div class="input-group-append">
            <span class="input-group-text">
              Name
            </span>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="name" value="{{
          item.name }}">
          <div class="input-group-append">
            <span class="input-group-text">
              Password
            </span>
          </div>
        </div>
        <input
          class="btn btn-primary btn-lg btn-block"
          type="submit"
          value="UPDATE">
      </form>
    </div>
    <a class="btn btn-outline-secondary btn-cancel btn-lg d-block mb-5" href={{ url_for('category.allCategories') }}>
      CANCEL
    </a>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
