<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='styles.css') }}">
    {% block head %}
      <title>
        {% block title %} Catalog {% endblock %}
      </title>
    {% endblock %}
  </head>
  <body class="bg-light">
    {% block fb_code %}
    {% endblock %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark
      text-light justify-content-between">
      {% block nav %}
        <ul class="navbar-nav">
          {% block navLinks %}
          {% endblock %}
        </ul>
        {#
        {% if 'username' not in session %}
        <a class="btn btn-outline-light" href={{ url_for('login.user_login') }}>
          <strong>sign in</strong>
        </a>
        {% else %}
          <a class="btn btn-outline-light" href={{ url_for('login.disconnect') }}>
            <strong>logout</strong>
          </a>
        {% endif %}
        #}
      {% endblock %}
    </nav>
    {% block hero %}
    {% endblock %}
    <div class="container main-content">
      {% block mainContent %}
      {% endblock %}
    </div>
    <footer class="container footer">
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
  <script src={{ url_for('static',
                 filename='node_modules/jquery/dist/jquery.min.js') }}></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  {% block scripts %}
  {% endblock %}
</html>
