<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {{ javascript_tag('vender_css') | safe }}
    {% block head %}
      <title>
        {% block title %} Catalog {% endblock %}
      </title>
    {% endblock %}
  </head>
  <body class="bg-light">
    {% block fb_code %}
    {% endblock %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark
      text-light justify-content-between">
      {% block nav %}
        <ul class="navbar-nav">
          {% block navLinks %}
          {% endblock %}
        </ul>
        <a href="{{ url_for('category.allCategories') }}" class="nav-link
          text-white">CATALOG</a>
      {% endblock %}
      {% block navCTA %}
      {% endblock %}
    </nav>
    {% block hero %}
    {% endblock %}
    <div class="container main-content">
      {% block mainContent %}
      {% endblock %}
    </div>
    <footer class="container footer">
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
   {# <script defer
     src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> #}
    {{ javascript_tag('app') | safe }}
  {% block scripts %}
  {% endblock %}
</html>
